@charset "utf-8";

/* 전체 레이아웃 설정 */
body {
	margin: 0px;
	font-size: 18px;
}

#box {
	position: relative;
	height: auto;
	width: 960px;
	margin: auto;
}

#top {
	height: 150px;
	width: 960px;
	position: relative;
}

#left {
	float: left;
	width: 200px;
	position: relative;
}

#body {
	float: left;
	width: 960px;
	position: relative;
}

#content {
	float: left;
	width: 750px;
	padding: 5px;
	position: relative;
}

#select {
	float: left;
	width: 470px;
	height: 540px;
	margin: auto;
	padding: 5px;
	position: relative;
}

#bottom {
	height: 60px;
	width: 960px;
	position: relative;
	clear: both;
	float: left;
}

#m_content {
	float: left;
	width: 470px;
	padding: 5px;
	position: relative;
}

/* 헤더 레이아웃 설정 */
#header-box {
	position: relative;
	height: auto;
	width: 960px;
	margin: auto;
}

#logo {
	float: left;
	height: 150px;
	wldth: 415px;
	/* 	position: relative; */
}

#header-right {
	float: left;
	width: 545px;
	position: relative;
}

#submenu {
	float: left;
	height: 100px;
	width: 540px;
	position: relative;
	float: left;
}

#displyUser {
	float: right;
	width: 200px;
	position: relative;
	top: 4px;
	text-align: right;
	font-family: 'Jeju Gothic', serif;
	font-size: 11pt;
	font-family: 'Jeju Gothic', serif;
}

#displyUser>img {
	width: 30px;
	height: 30px;
	position: relative;
	top: 10px;
}

#menubar {
	float: left;
	height: 50px;
	width: 540px;
	position: relative;
}