/* 메뉴에 사용할 웹 폰트 임포트 */
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);

/* 레이아웃이 위치 크기 등을 설정 */
#layout {
	background: #FFFFFF;
	width: 960;
	margin: auto;
	padding: 0px;
	border-collapse: collapse;
	/* 	border: 2;
	padding: 2;
	border-width: 2px;
	border-style: ridge; */
}

/**
  * 헤더설정
  */
/* 헤더 메뉴바 설정 */
#header_menubar {
	position: relative;
	right: -90px;
	bottom: 0px;
}

#header_menubar>ul {
	overflow: hidden;
}

#header_menubar>ul>li {
	float: left;
}

#header_menubar>ul>li>a {
	display: block;
	text-decoration: none;
	font-family: 'Jeju Hallasan';
	color: #000000;
	padding: 10px 20px;
	border: 1px solid #000000;
}

#header_menubar>ul>li>a:link {
	background: #ffe641;
}

#header_menubar>ul>li>a:hover {
	background: #ff9100;
	color: #ffffff;
}

#header_menubar>ul>li:first-child>a {
	border-radius: 10px 0 0 10px;
}

#header_menubar>ul>li:last-child>a {
	border-radius: 0 10px 10px 0;
}

/* 로고 설정 */
#logo {
	width: 415;
	height: 150;
}

/**
  * 사이드 메뉴 설정
  */
#menuLayout {
	width: 200;
	float: left;
	margin: auto;
	position: realation;
	padding: 0;
}

#menu {
	width:190;
	/* float: left; */
	align: center;
	margin: left;
	position: realation;
	padding: 0;
}

#menu>ul {
	overflow: hidden;
}

#menu>ul>li>a {
	display: block;
	text-decoration: none;
	text-align: center;
	font-family: 'Jeju Hallasan';
	color: #000000;
	padding: 10px 10px;
	border: 1px solid #000000;
}

#menu>ul>li>a:link {
	background: #ffe641;
}

#menu>ul>li>a:hover {
	background: #ff9100;
	color: #ffffff;
}

#menu>ul>li:first-child>a {
	border-radius: 10px 10px 0 0;
}

#menu>ul>li:last-child>a {
	border-radius: 0 0 10px 10px;
}

/* 리스트 스타일 제거 */
li {
	list-style: none;
}

/**
  * 메인 설정
  */
/* 메인화면 지도 위치 설정 */
#fieldset {
	float: left;
	margin: auto;
	position: realation;
	padding: 0;
}

/* 화면 구성요소들 기본 설정 */
#factor {
	width: 400;
	margin: auto;
	padding: 0px;
	text-align: center;
}

#factor>h {
	text-align: center;
}

/* 박스로 내용물을 묶음 */
#boxing {
	border-radius: 5px;
}

/**
  * 게시판 설정
  */
/* 게시판 형태 설정 */
#board {
	width: 760;
}

#index {
	text-align: center;
}
