@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

/*------------------------------------------------------------*/
/* 메뉴바 효과 설정 */
/*------------------------------------------------------------*/
/* 헤더 메뉴바 */
#topMenu {
	height: 50px; /* 메인 메뉴의 높이 */
	width: 545px; /* 메인 메뉴의 넓이 */
}

#topMenu ul { /* 메인 메뉴 안의 ul을 설정함: 상위메뉴의 ul+하위 메뉴의 ul */
	float: right; /* 메뉴바를 우측에 고정 */
	list-style-type: none; /* 메인 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
	margin: 0px; /* 메인 메뉴 안의 ul의 margin을 없앰 */
	padding: 0px; /* 메인 메뉴 안의 ul의 padding을 없앰 */
}

#topMenu ul li { /* 메인 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용(상위/하위메뉴 모두) */
	color: white; /* 글씨 색을 흰색으로 설정 */
	background-color: #FFAF0A; /* 배경 색을 설정 */
	float: left; /* 왼쪽으로 나열되도록 설정 */
	line-height: 40px; /* 텍스트 한 줄의 높이  설정 */
	vertical-align: middle; /* 세로 정렬을 가운데로 설정 */
	text-align: center; /* 텍스트를 가운데로 정렬 */
	position: relative; /* 해당 li 태그 내부의 top/left 포지션 초기화 */
}

.menuLink, .submenuLink { /* 상위 메뉴와 하위 메뉴의 a 태그에 공통으로 설정할 스타일 */
	text-decoration: none; /* a 태그의 꾸밈 효과 제거 */
	display: block; /* a 태그의 클릭 범위를 넓힘 */
	width: 180px; /* 기본 넓이 설정 */
	font-size: 18px; /* 폰트 사이즈 설정 */
	/* font-weight: bold; 폰트를 굵게 설정 */
	font-family: 'Jeju Gothic', serif; /* 기본 폰트를 영어/한글 순서대로 설정 */
}

.menuLink { /* 상위 메뉴의 글씨색을 흰색으로 설정 */
	color: white;
}

.topMenuLi:hover .menuLink { /* 상위 메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
	color: white; /* 글씨 색 */
	background-color: #FF8200; /* 배경색 설정 */
}

.submenuLink { /* 하위 메뉴의 a 태그 스타일 설정 */
	line-height: 30px; /* 텍스트 한 줄의 높이 설정 */
	color: #2d2d2d; /* 글씨 색 설정 */
	background-color: white; /* 배경색을 흰색으로 설정 */
	border: solid 1px black; /* 테두리를 설정 */
	margin-top: -1px; /* 위 칸의 하단 테두리와 아래칸의 상단 테두리가 겹쳐지도록 설덩 */
}

.longLink { /* 좀 더 긴 메뉴 스타일 설정 */
	width: 178px; /* 넓이 설정 */
}

.submenu { /* 하위 메뉴 스타일 설정 */
	position: absolute; /* html의 flow에 영향을 미치지 않게 absolute 설정 */
	height: 0px; /* 초기 높이는 0px로 설정 */
	overflow: hidden; /* 실 내용이 높이보다 커지면 해당 내용 감춤 */
	transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(기본) */
	-webkit-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 크롬/사파라ㅣ) */
	-moz-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 파폭) */
	-o-transition: height .2s; /* height를 변화 시켰을 때 0.2초간 변화 되도록 설정(구버전 오페라) */
}

.topMenuLi:hover .submenu { /* 상위 메뉴에 마우스 모버한 경우 그 안의 하위 메뉴 스타일 설정 */
	height: 130px; /* 높이 설정 */
}

.submenuLink:hover { /* 하위 메뉴의 a 태그의 마우스 오버 스타일 설정 */
	color: #FF8200; /* 글씨색  설정 */
	background-color: #dddddd; /* 배경색 설정 */
}

.pop-up {
	z-index: 20;
}

/* 헤더 서브메뉴바 */
#topMenu-sub {
	height: 50px; /* 메뉴의 높이 */
	width: 545px; /* 메뉴의 넓이 */
}

#topMenu-sub ul { /* 메뉴 안의 ul을 설정 */
	float: right; /* 메뉴바를 우측에 고정 */
	list-style-type: none; /* 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
	margin: 0px left; /* 메뉴 안의 ul의 margin을 없앰 */
	padding: 0px; /* 메뉴 안의 ul의 padding을 없앰 */
}

#topMenu-sub ul li { /* 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용 */
	border: 1px solid black;
	padding: 0px;
	color: white; /* 글씨 색을 흰색으로 설정 */
	background-color: #ffffff; /* 배경 색  설정 */
	float: left; /* 왼쪽으로 나열되도록 설정 */
	line-height: 20px; /* 텍스트 한 줄의 높이 설정 */
	vertical-align: middle; /* 세로 정렬을 가운데로 설정 */
	text-align: center; /* 텍스트를 가운데로 정렬 */
	position: relative;
	color: white /* 해당 li 태그 내부의 top/left 포지션 초기화 */
}

.menuLink-sub { /*메뉴의 a 태그에  설정할 스타일 */
	text-decoration: none; /* a 태그의 꾸밈 효과 제거 */
	display: block; /* a 태그의 클릭 범위를 넓힘 */
	width: 50px; /* 기본 넓이  설정 */
	font-size: 11px; /* 폰트 사이즈 설정 */
	font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */
}

.menuLink-sub { /* 메뉴의 글씨색 설정 */
	color: #000000;
}

.topMenuLi-sub:hover .menuLink-sub { /*  메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
	color: black; /* 글씨 색 빨간색 */
	background-color: #FFEB46; /* 배경색 설정 */
}

/* 사이드 메뉴바 */
#topMenu-side {
	height: 50px; /* 메뉴의 높이 */
	width: 180px; /* 메뉴의 넓이 */
	margin: auto;
	float: none;
}

#topMenu-side ul { /* 메뉴 안의 ul을 설정 */
	float: none; /* 메뉴바 위치 */
	list-style-type: none; /* 메뉴 안의 ul 내부의 목록 표시를 없애줌 */
	margin: 0px left; /* 메뉴 안의 ul의 margin을 없앰 */
	padding: 0px; /* 메뉴 안의 ul의 padding을 없앰 */
}

#topMenu-side ul li { /* 메뉴 안에 ul 태그 안에 있는 li 태그의 스타일 적용 */
	color: white; /* 글씨 색을 흰색으로 설정 */
	background-color: #FFAF0A; /* 배경 색을 설정 */
	float: left; /* 왼쪽으로 나열되도록 설정 */
	line-height: 40px; /* 텍스트 한 줄의 높이  설정 */
	vertical-align: middle; /* 세로 정렬을 가운데로 설정 */
	text-align: center; /* 텍스트를 가운데로 정렬 */
	position: relative; /* 해당 li 태그 내부의 top/left 포지션 초기화 */
}

.menuLink-side { /*메뉴의 a 태그에  설정할 스타일 */
	text-decoration: none; /* a 태그의 꾸밈 효과 제거 */
	display: block; /* a 태그의 클릭 범위를 넓힘 */
	width: 180px; /* 기본 넓이 설정 */
	font-size: 15px; /* 폰트 사이즈 설정 */
	font-weight: bold; /* 폰트를 굵게 설정 */
	font-family: "Trebuchet MS", Dotum; /* 기본 폰트를 영어/한글 순서대로 설정 */
}

.menuLink-side { /* 메뉴의 글씨색을 흰색으로 설정 */
	color: white;
}

.topMenuLi-side:hover .menuLink-side { /*  메뉴의 li에 마우스오버 되었을 때 스타일 설정 */
	color: white; /* 글씨 색 */
	background-color: #FF8200; /* 배경색 설정 */
}

/* 사이드메뉴 슬라이더 설정 */
#md-sidebar {
	width: 140px;
	padding: 5px;
	margin: 0px auto;
	float: none;
	border: 1px solid;
	text-align: center;
}

/*------------------------------------------------------------*/
/* 메인화면 설정 */
/*------------------------------------------------------------*/
/* 메인화면 지도 위치 */
#fieldset {
	float: left;
	margin: auto;
	position: realation;
	padding: 0;
}

/* 화면 구성요소들 기본 */
#factor {
	float: left;
	width: 470px;
	position: relative;
}

#factor>h {
	text-align: center;
}

.boxing {
	border-radius: 5px;
}

/*------------------------------------------------------------*/
/* 게시판 설정 */
/*------------------------------------------------------------*/
/* 게시판 형태 */
#board {
	width: 760;
}

#index {
	text-align: center;
}

/*------------------------------------------------------------*/
/* 의료시설 검색 설정 */
/*------------------------------------------------------------*/
/* 검색화면 설정 */
#md-wrap {
	width: 700px;
	height: 790px;
	margin: 0px auto;
	padding: 0px;
	border: 0px solid;
	padding: 0px;
	position: relative;
}

#md-container {
	width: 680px;
	height: 700px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid;
}

#md-header {
	width: 550px;
	margin-bottom: 20px;
	border: 0px solid;
}

#md-content {
	width: 250px;
	height: 540px;
	padding: 5px;
	margin-bottom: 10px;
	float: left;
	border: 1px solid;
}

#md-map {
	width: 380px;
	height: 530px;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
	float: right;
	border: 1px solid;
}

#md-wrap>a {
	text-decoration: none;
}

/* 상세화면 설정 */
#mddp-container {
	width: 950px;
	height: 700px;
	margin: 0px auto;
	padding: 20px;
	border: 0px solid;
	position: relative;
	margin-bottom: 20px;
}

#mddp-detailview {
	width: 440px;
	height: 500px;
	margin: 5px;
	padding: 10px;
	border: 1px solid;
	margin-bottom: 10px;
	float: left;
}

#mddp-map {
	width: 440px;
	height: 500px;
	margin: 5px;
	padding: 10px;
	border: 1px solid;
	magin-bottom: 10px;
	float: right;
}

/*------------------------------------------------------------*/
/* 어린이집 검색 설정 */
/*------------------------------------------------------------*/
/* 검색화면 설정 */
#mdK-wrap {
	width: 950px;
	height: 790px;
	margin: 0px auto;
	padding: 0px;
	border: 0px solid;
	padding: 0px;
	position: relative;
}

#mdK-container {
	width: 940px;
	height: 703px;
	margin: 0px auto;
	padding: 5px;
	border: 1px solid;
}

#mdK-header {
	width: 940px;
	margin-bottom: 20px;
	border: 0px solid;
}

#mdK-content {
	width: 465px;
	height: 550px;
	padding: 0px;
	margin: 0px;
	float: left;
	border: 1px solid;
}

#mdK-map {
	width: 400px;
	height: 300px;
	padding: 10px;
	margin: auto;
	margin-bottom: 10px;
	float: right;
	border: 1px solid;
}

#mdK-inmap {
	width: 465px;
	height: 550px;
	margin: 0px;
	padding: 0px;
	border: 1px solid;
	magin-bottom: 10px;
	float: right;
}

#mdK-wrap>a {
	text-decoration: none;
}

/* 상세화면 설정 */
#mdKd-container {
	width: 950px;
	height: 685px;
	margin: 0px auto;
	padding: 0px;
	border: 0px solid;
	position: relative;
	margin-bottom: 20px;
}

#mdKd-detailview {
	width: 440px;
	height: 580px;
	margin: 5px;
	padding: 10px;
	border: 1px solid;
	margin-bottom: 10px;
	float: left;
}

#mdKd-detailview>p {
	font-size: 15px;
	margin: 0px;
}

#mdKd-inmap {
	width: 440px;
	height: 580px;
	margin: 5px;
	padding: 10px;
	border: 1px solid;
	magin-bottom: 10px;
	float: right;
}

#mdKd-menu {
	font-size: 10px;
	width: 940px;
	height: 35px;
	float: left;
	margin: auto;
}
/*------------------------------------------------------------*/
/* 이미지 슬라이더 */
/*------------------------------------------------------------*/
#back_to_camera {
	clear: both;
	display: block;
	height: 80px;
	line-height: 40px;
	padding: 20px;
}

.fluid_container {
	margin: 0 auto;
	position: relative;
	top: 30px;
	max-width: 440px;
	width: 100%;
}

/*------------------------------------------------------------*/
/* 사이트맵 설정 */
/*------------------------------------------------------------*/
/* 사이트맵화면 설정 */
#mdS-wrap {
	width: 960px;
	height: 790px;
	margin: 0px auto;
	padding: 0px;
	border: 0px solid;
	padding: 0px;
	position: relative;
}
#mdS-container {
	width: 958px;
	height: 685px;
	margin: 0px auto;
	padding: 0px;
	border: 0px solid;
	position: relative;
	margin-bottom: 20px;
}
#mdSTL-content {
	width: 350px;
	height: 270px;
	padding: 0px;
	margin: 0px;
	float: left;
	border: 1px solid;
	margin-left: 100px;
	margin-top: 60px;
}
#mdSTR-content {
	width: 350px;
	height: 270px;
	padding: 0px;
	margin: 0px;
	float: right;
	overflow:hidden;
	border: 1px solid;
	margin-left: 20px;
	margin-top: 60px;
	margin-right:100px;
}
#mdSBL-content {
	width: 350px;
	height: 270px;
	padding: 0px;
	margin: 0px;
	float: left;
	border: 1px solid;
	margin-left: 100px;
	margin-top: 30px;
	
}
#mdSBR-content {
	width: 350px;
	height: 270px;
	padding: 0px;
	margin: 0px;
	float: right;
	overflow:hidden;
	border: 1px solid;
	margin-left: 20px;
	margin-top: 30px;
	margin-right:100px;
}
.siteMap{
	text-decoration:none;
	 color:#000000;
}